<?xml version="1.0"?>

<model>
  <name>Primary Maze</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Bryan Davey</name>
    <email>dave0070@algonquinlive.com</email>
  </author>

  <description>
    A textured plane for drawing red bounding lines for turtlebot3 challenge BEAR program Algonquin College
  </description>

</model>